.moon-menu,
.moon-menu-bg,
.moon-menu-content {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 4em;
    height: 4em;
    z-index: 999;
}

.moon-menu-button {
    width: 4em;
    height: 4em;
    cursor: pointer;
}

.moon-menu-cricle {
    fill: var(--moon-cricle, #607d8b);
    opacity: 0.9;
}

.moon-menu-border {
    stroke: var(--moon-cricle, #607d8b);
    opacity: 0.9;
    stroke-width: 1px;
    fill: none;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.moon-menu-icon {
    font-size: 2.5em;
    line-height: 1.3em;
    color: var(--color, #fff);
    text-align: center;
}

.moon-menu-icon i,
.moon-menu-icon svg {
    transition: all 0.15s cubic-bezier(0, 0, 0.382, 1.618);
}

.moon-menu-icon.active i,
.moon-menu-icon.active svg {
    transform: rotate(90deg);
}

.moon-menu-text {
    color: var(--color, #fff);
    font-weight: 400;
    text-align: center;
    line-height: 3.5em;
    font-size: 1.2em;
    display: none;
}

.moon-menu-item {
    top: 1em;
    left: 1em;
    display: block;
    text-align: center;
    color: var(--color, #fff);
    position: absolute;
    z-index: -1;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    background-color: #000c;
    box-shadow: 0 2px 4px 1px #0003;
    font-size: 1.5rem;
    line-height: 2.8rem;
    opacity: 0;
    cursor: pointer;
    transition: .4s cubic-bezier(0, 0, .382, 1.618);
    transition-property: transform, opacity;
}

.moon-menu-items span:before {
    font-size: inherit;
}

.moon-menu-items span:nth-child(3n-2) {
    top: 0;
    right: 0;
}

.moon-menu-items span:nth-child(3n-1) {
    top: 0;
    left: 0;
}

.moon-menu-items span:nth-child(3n) {
    bottom: 0;
    left: 0;
}

.moon-menu-item:before {
    color: #fff;
}

.moon-dot {
    transform: translate3d(2rem, 2rem, 0);
}

.moon-dot circle {
    transition: all .15s cubic-bezier(0, 0, .382, 1.618);
    fill: #fff;
}

.item-ani span:first-child {
    transform: translate3d(0, -140%, 0);
}

.item-ani span:nth-child(2) {
    transform: translate3d(-98.99495%, -98.99495%, 0);
}

.item-ani span:nth-child(3) {
    transform: translate3d(-140%, 0, 0);
}

.item-ani span:nth-child(4) {
    transform: translate3d(0, -280%, 0);
}

.item-ani span:nth-child(5) {
    transform: translate3d(-107.15136%, -258.68627%, 0);
}